body {
    background-image:url("images/greyfloral.png");
    font-family: 'Vollkorn', serif;
    text-align: center;
}

header {
    color: black;
    font-weight: bold;
    font-size: 50px;
    height: 60px;
    margin: 10px;

}

h2 {
    color: black;
    font-size: 20px;
    margin: 0;
    
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: solid darkgrey;
    border-width: 1px;

  }

#box {
    text-align: center;
    border: 2px solid grey;
    border-width: 1px 2px;
    border-radius: 20px;
    width: 33.3%;
    height: 200px;
    background-color: rgb(227, 233, 235);
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}


textarea {
    width: 200px;
    height: 70px;
    resize: none;
    border: dashed 2px lightgrey;
    margin: 0;
    padding: 20px;
    text-align: center;
    
}

#generate {
    color: white;
    background: #05365b;
    display: inline-block;
    border-radius: 20px;
    margin: 0px;
    padding: 5px;

   

    
}

#copy {
    color: white;
    background: #055550;
    display: inline-block;
    border-radius: 20px;
    margin: 0px;
    padding: 5px;

}

@media only screen and (max-width: 780px) {
    #box {
        height: 200px;
        width: 33.3%;
    }

    textarea {
        width: 150px;
    }
}

@media only screen and (max-width: 680px) {
    #box {
        height: 200px;
        width: 33.3%;
    }

    textarea {
        width: 100px;
        height: 70px;
    }
}